In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("Downloads/2015.csv",float_precision='round_trip')

In [3]:
df1.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [5]:
df2=df1.round({"Happiness Score":2, "Health (Life Expectancy)":2, "Trust (Government Corruption)":2,"Generosity":2})

In [6]:
df2

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.59,0.03411,1.39651,1.34951,0.94,0.66557,0.42,0.30,2.51738
1,Iceland,Western Europe,2,7.56,0.04884,1.30232,1.40223,0.95,0.62877,0.14,0.44,2.70201
2,Denmark,Western Europe,3,7.53,0.03328,1.32548,1.36058,0.87,0.64938,0.48,0.34,2.49204
3,Norway,Western Europe,4,7.52,0.03880,1.45900,1.33095,0.89,0.66973,0.37,0.35,2.46531
4,Canada,North America,5,7.43,0.03553,1.32629,1.32261,0.91,0.63297,0.33,0.46,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.46,0.03464,0.22208,0.77370,0.43,0.59201,0.55,0.23,0.67042
154,Benin,Sub-Saharan Africa,155,3.34,0.03656,0.28665,0.35386,0.32,0.48450,0.08,0.18,1.63328
155,Syria,Middle East and Northern Africa,156,3.01,0.05015,0.66320,0.47489,0.72,0.15684,0.19,0.47,0.32858
156,Burundi,Sub-Saharan Africa,157,2.90,0.08658,0.01530,0.41587,0.22,0.11850,0.10,0.20,1.83302
157,Togo,Sub-Saharan Africa,158,2.84,0.06727,0.20868,0.13995,0.28,0.36453,0.11,0.17,1.56726

In [7]:
df3=df2.drop(['Region','Happiness Rank','Standard Error','Economy (GDP per Capita)','Family','Freedom','Dystopia Residual'],axis=1)

In [30]:
df3.head()

  Country Name  Happiness Score  Healthy Life Expectancy  Trust  Generosity
0  Switzerland             7.59                     0.94   0.42        0.30
1      Iceland             7.56                     0.95   0.14        0.44
2      Denmark             7.53                     0.87   0.48        0.34
3       Norway             7.52                     0.89   0.37        0.35
4       Canada             7.43                     0.91   0.33        0.46

In [9]:
df3=df3.rename(columns={"Trust (Government Corruption)":"Trust",
                        "Health (Life Expectancy)":"Healthy Life Expectancy",
                        "Country":"Country Name"})

In [31]:
df3.head()

  Country Name  Happiness Score  Healthy Life Expectancy  Trust  Generosity
0  Switzerland             7.59                     0.94   0.42        0.30
1      Iceland             7.56                     0.95   0.14        0.44
2      Denmark             7.53                     0.87   0.48        0.34
3       Norway             7.52                     0.89   0.37        0.35
4       Canada             7.43                     0.91   0.33        0.46

In [11]:
dg1= pd.read_csv("Downloads/2020.csv",float_precision='round_trip')

In [12]:
dg1.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [14]:
dg1=dg1.drop(['Regional indicator',
              'Standard error of ladder score',
              'upperwhisker',
              'lowerwhisker',
              'Logged GDP per capita',
              'Social support',
              'Freedom to make life choices',
              'Ladder score in Dystopia',
              'Explained by: Log GDP per capita',
              'Explained by: Social support',
              'Explained by: Healthy life expectancy',
              'Explained by: Freedom to make life choices',
              'Explained by: Generosity',
              'Explained by: Perceptions of corruption',
              'Dystopia + residual'],axis=1)

In [15]:
dg1

,Country name,Ladder score,Healthy life expectancy,Generosity,Perceptions of corruption
0,Finland,7.8087,71.900825,-0.059482,0.195445
1,Denmark,7.6456,72.402504,0.066202,0.168489
2,Switzerland,7.5599,74.102448,0.105911,0.303728
3,Iceland,7.5045,73.000000,0.246944,0.711710
4,Norway,7.4880,73.200783,0.134533,0.263218
...,...,...,...,...,...
148,Central African Republic,3.4759,45.200001,0.082410,0.891807
149,Rwanda,3.3123,61.098846,0.055484,0.183541
150,Zimbabwe,3.2992,55.617260,-0.072064,0.810237
151,South Sudan,2.8166,51.000000,0.016519,0.763417
152,Afghanistan,2.5669,52.590000,-0.096429,0.933687

In [16]:
dg2=dg1.round({"Ladder score":2, "Healthy life expectancy":2, "Generosity":2,"Perceptions of corruption":2})

In [17]:
dg2

,Country name,Ladder score,Healthy life expectancy,Generosity,Perceptions of corruption
0,Finland,7.81,71.90,-0.06,0.20
1,Denmark,7.65,72.40,0.07,0.17
2,Switzerland,7.56,74.10,0.11,0.30
3,Iceland,7.50,73.00,0.25,0.71
4,Norway,7.49,73.20,0.13,0.26
...,...,...,...,...,...
148,Central African Republic,3.48,45.20,0.08,0.89
149,Rwanda,3.31,61.10,0.06,0.18
150,Zimbabwe,3.30,55.62,-0.07,0.81
151,South Sudan,2.82,51.00,0.02,0.76
152,Afghanistan,2.57,52.59,-0.10,0.93

In [19]:
dg2=dg2.rename(columns={"Country name":"Country Name"})

In [20]:
dg2

,Country Name,Ladder score,Healthy life expectancy,Generosity,Perceptions of corruption
0,Finland,7.81,71.90,-0.06,0.20
1,Denmark,7.65,72.40,0.07,0.17
2,Switzerland,7.56,74.10,0.11,0.30
3,Iceland,7.50,73.00,0.25,0.71
4,Norway,7.49,73.20,0.13,0.26
...,...,...,...,...,...
148,Central African Republic,3.48,45.20,0.08,0.89
149,Rwanda,3.31,61.10,0.06,0.18
150,Zimbabwe,3.30,55.62,-0.07,0.81
151,South Sudan,2.82,51.00,0.02,0.76
152,Afghanistan,2.57,52.59,-0.10,0.93

In [27]:
x1 = pd.merge(df3,dg2,on="Country Name")
x1.head()

,Country Name,Happiness Score,Healthy Life Expectancy,Trust,Generosity_x,Ladder score,Healthy life expectancy,Generosity_y,Perceptions of corruption
0,Switzerland,7.59,0.94,0.42,0.30,7.56,74.1,0.11,0.30
1,Iceland,7.56,0.95,0.14,0.44,7.50,73.0,0.25,0.71
2,Denmark,7.53,0.87,0.48,0.34,7.65,72.4,0.07,0.17
3,Norway,7.52,0.89,0.37,0.35,7.49,73.2,0.13,0.26
4,Canada,7.43,0.91,0.33,0.46,7.23,73.6,0.12,0.39

In [28]:
x1=x1.rename(columns={"Generosity_x":"Generosity_2015",
                        "Generosity_y":"Generosity_2020",
                        "Healthy Life Expectancy":"Healthy Life Expectancy(2015)",
                      "Healthy life expectancy":"Healthy Life Expectancy(2020)"})

In [29]:
x1.head()

,Country Name,Happiness Score,Healthy Life Expectancy(2015),Trust,Generosity_2015,Ladder score,Healthy Life Expectancy(2020),Generosity_2020,Perceptions of corruption
0,Switzerland,7.59,0.94,0.42,0.30,7.56,74.1,0.11,0.30
1,Iceland,7.56,0.95,0.14,0.44,7.50,73.0,0.25,0.71
2,Denmark,7.53,0.87,0.48,0.34,7.65,72.4,0.07,0.17
3,Norway,7.52,0.89,0.37,0.35,7.49,73.2,0.13,0.26
4,Canada,7.43,0.91,0.33,0.46,7.23,73.6,0.12,0.39

In [32]:
!pip install alchemy

Collecting alchemy
  Downloading alchemy-20.5-py2.py3-none-any.whl (11 kB)
Collecting filelock==3.0.12
  Downloading filelock-3.0.12-py3-none-any.whl (7.6 kB)
Collecting requests==2.22.0
  Downloading requests-2.22.0-py2.py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 127 kB/s eta 0:00:01
Collecting python-daemon==2.2.4
  Downloading python_daemon-2.2.4-py2.py3-none-any.whl (35 kB)
Requirement already satisfied: setuptools in ./opt/anaconda3/lib/python3.9/site-packages (from python-daemon==2.2.4->alchemy) (58.0.4)
Requirement already satisfied: docutils in ./opt/anaconda3/lib/python3.9/site-packages (from python-daemon==2.2.4->alchemy) (0.17.1)
Collecting lockfile>=0.10
  Downloading lockfile-0.12.2-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests==2.22.0->alchemy) (2021.10.8)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 25 kB/s eta 0:00:01
Collecting idna<2.9,>=2.5
  Downloading idna-2.8-py2.py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 35 kB/s eta 0:00:01
Collecting chardet<3.1.0,>=3.0.2
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 43 kB/s eta 0:00:01
Installing collected packages: urllib3, lockfile, idna, chardet, requests, python-daemon, filelock, alchemy
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.26.7
    Uninstalling urllib3-1.26.7:
      Successfully uninstalled urllib3-1.26.7
  Attempting uninstall: idna
    Found existing installation: idna 3.2
    Uninstalling idna-3.2:
      Successfully uninstalled idna-3.2
  Attempting uninstall: chardet
    Found existing installation: chardet 4.0.0
    Uninstalling chardet-4.0.0:
      Successfully uninstalled chardet-4.0.0
  Attempting uninstall: requests
    Found existing installation: requests 2.26.0
    Uninstalling requests-2.26.0:
      Successfully uninstalled requests-2.26.0
  Attempting uninstall: filelock
    Found existing installation: filelock 3.3.1
    Uninstalling filelock-3.3.1:
      Successfully uninstalled filelock-3.3.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.1.5 requires pyqt5<5.13, which is not installed.
spyder 5.1.5 requires pyqtwebengine<5.13, which is not installed.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
anaconda-project 0.10.1 requires ruamel-yaml, which is not installed.
cookiecutter 1.7.2 requires requests>=2.23.0, but you have requests 2.22.0 which is incompatible.
Successfully installed alchemy-20.5 chardet-3.0.4 filelock-3.0.12 idna-2.8 lockfile-0.12.2 python-daemon-2.2.4 requests-2.22.0 urllib3-1.25.11

In [41]:
from sqlalchemy import create_engine
p_engine=create_engine("postgresql://postgres:root@localhost:5432/world_happiness")

In [43]:
df = pd.DataFrame(df3)
df.to_csv('Downloads/2015sql.csv')

In [45]:
qq=pd.read_csv('Downloads/2015sql.csv',index_col=False)
qq.to_sql('2015sql',p_engine,if_exists='replace',index=False)   #only 2015 data

In [49]:
df = pd.DataFrame(dg2)
df.to_csv('Downloads/2020sql.csv')

In [50]:
qqq=pd.read_csv('Downloads/2020sql.csv',index_col=False)
qqq.to_sql('2020sql',p_engine,if_exists='replace',index=False)     #only 2020 data

In [51]:
df = pd.DataFrame(x1)
df.to_csv('Downloads/1520sql.csv')

In [52]:
qqqq=pd.read_csv('Downloads/1520sql.csv',index_col=False)
qqqq.to_sql('1520sql',p_engine,if_exists='replace',index=False)    #Both 2015 and 2020 data after merging,transforming and cleaning the data